/* =========================
   Universal Selector
========================= */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* =========================
   Body Styles
========================= */

body{
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 20px;
}


/* =========================
   ID Selector
========================= */

#mainHeader{
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}


/* =========================
   Element Selector
========================= */

h2{
    color: darkred;
    margin-bottom: 10px;
}


/* =========================
   Class Selector
========================= */

.eventCard{
    background-color: rgb(159, 223, 255);
    border: 2px solid #cccccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}


/* =========================
   Grouping Selector
========================= */

h3,
p{
    color: #382525;
    line-height: 1.5;
}